node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

/dist
/build
.npm/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

*.tsbuildinfo

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln