:root {
    --color-background: #FFFFFF;
    --color-text: #111111;
    --color-primary: #8A2BE2;
    --color-primary-text: #FFFFFF;
    --color-card-bg: #f4f4f4;
  }
  
  [data-theme='dark'] {
    --color-background: #111111;
    --color-text: #FFFFFF;
    --color-primary: #9D4EDD;
    --color-primary-text: #FFFFFF;
    --color-card-bg: #222222;
  }